* {
    box-sizing: border-box;
}

button {
    border: none;
    /* 移除默认边框 */
    background: none;
    /* 移除默认背景 */
    cursor: pointer;
    /* 更改鼠标指针为手形 */
    outline: none;
    /* 移除焦点时的轮廓线 */
}

header {
    background-color: #e7e7e7;
    padding: 10px;
    /* text-align: center; */
    position: fixed;
    top: 0;
        /* 距离顶部为0 */
    left: 0;
        /* 距离左边为0 */
    width: 100%;
        /* 100% 宽度 */
        z-index: 21;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
}

.content {
    min-height: 100vh;
    /* 确保内容区域占满全屏 */
    padding-top: 95px;
    padding-bottom: 60px;
    /* 为了给导航栏留出空间 */
    background-color: #f9f9f9;
}

    .search-box {
             display: flex;
             flex-direction: row;
             justify-content: space-between;
            margin-left: 12px;
            z-index: 21;
            border-radius: 20px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: #ffffff;
            outline-offset: 3px;
            padding: 5px 0.5rem;
            transition: 0.25s;
            width: calc(80% - 40px);
            /* Adjust width */
            max-width: 400px;
            /* Limiting width on larger screens */
        }
        .search-input {
           
            margin: 0;
            /* 右侧边距，留出按钮空间 */
            padding:0;
            /* 内边距 */
            border: none;
            outline: none;
            /* 取消默认 outline */
            
            width: 65%;
            font-size: 18px;
            /* 字体大小 */
        }
    
        .input:focus {
            outline-offset: 5px;
            background-color: #fff
        }
    /* margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; */
    

  /* 按钮滑动容器 */
  .button-slider {
        display: flex;
        overflow-x: auto;
        /* 允许横向滚动 */
        padding-top: 10px;
        background-color:transparent;
        /* 背景透明 */
        
        scroll-behavior: smooth;
        white-space: nowrap;
        /* 防止按钮换行 */
  }

  /* 按钮样式 */
  .slider-button {
      outline: none;
      cursor: pointer;
      border: none;
        padding: 0.3rem 1.2rem;
        /* 更改为更小的上下内边距，减小按钮高度 */
        border-radius: 12px;
        /* 将圆角变得不那么圆 */
        margin: 0 10px;
        /* 按钮之间的间距 */
      font-family: inherit;
      font-size: inherit;
      position: relative;
      display: inline-block;
      letter-spacing: 0.1rem;
      text-align: center;
      font-weight: 700;
      font-size: 17px;
      border-radius: 500px;
      /* 圆角 */
      overflow: hidden;
      background: #c6c6c6;
      /* 按钮背景颜色 */
      color: ghostwhite;
      /* 文本颜色 */
    min-width: 80px;
    -webkit-tap-highlight-color: transparent;
  }

  .slider-button span {
      position: relative;
      z-index: 10;
      transition: color 0.4s;
  }

  .slider-button:hover span {
      color: black;
      /* 悬停时的文本颜色 */
  }

  .slider-button::before,
  .slider-button::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
  }

  .slider-button::before {
      content: "";
      background: #383838;
      /* 黑色背景 */
      width: 120%;
      left: -10%;
      transform: skew(30deg);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  .slider-button:hover::before {
      transform: translate3d(100%, 0, 0);
      /* 悬停时动画效果 */
  }

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 0 0 calc(50% - 20px);
    /* Two cards per row */
    box-sizing: border-box;
    /* Include padding and margin in width */
    -webkit-tap-highlight-color: transparent;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card-title {
    font-weight: bold;
    margin: 5px 0;
}

.card-price {
    color: #ff0000;
}

.card-description {
    font-size: 0.9em;
    color: #666;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of cards */
    justify-content: center;
    /* Center the cards */
    
}

.bottom-nav {
    position: fixed;
    /* 固定位置 */
    bottom: 0;
    /* 距离底部0 */
    left: 0;
    /* 距离左边0 */
    width: 100%;
    /* 100%宽度 */
    background-color: #e3e3e3;
    /* 背景颜色 */
    color: rgb(17, 17, 17);
    /* 字体颜色 */
}

.bottom-nav ul {
    list-style: none;
    /* 去掉默认列表样式 */
    padding: 0;
    margin: 0;
    display: flex;
    /* 使用flexbox布局 */
    justify-content: space-around;
    /* 等间距分布 */
}

.bottom-nav a {
    color: rgb(68, 68, 68);
    /* 链接颜色 */
    text-decoration: none;
    /* 去掉下划线 */
    padding: 15px;
    /* 内边距 */
    display: block;
    /* 块级元素，使链接区域更大 */
    outline: none;
    /* 去掉点击时的轮廓 */
    -webkit-tap-highlight-color: transparent;
}
.bottom-nav a:active {
    color: inherit;
    /* 点击时保持颜色 */
    background-color: transparent;
    /* 点击时保持背景色 */
}
.bottom-nav a:focus {
    outline: none;
    /* 去掉聚焦状态的轮廓 */
}

.search-button {
    margin-left: 6px;
    color: #090909;
    padding: 0.2em 0.6em;
    font-size: 18px;
    border-radius: 0.9em;
    background: transparent;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.3s;
  
    -webkit-tap-highlight-color: transparent;
}

  .search-button-svg {
      
     height: 25px;
     width: 25px;
     margin:0;
     padding:0;
     border: 0;
      fill: #4a4a4a;
      /* 图标颜色 */
  }

.search-button:hover {
    border: 1px solid white;
}

.search-button:active {
    box-shadow: 4px 4px 8px #d2d2d2, -4px -4px 12px #ffffff;
}
.refresh {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}



