
.card {
    width: 100%;
    height: 150px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgb(0, 0, 0) 5px 10px 50px, rgb(0, 0, 0) -5px 0px 250px;
}

.time-text {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
    font-size: 15px;
    margin-left: 5px;
}

.day-text {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
}

.card:hover>.moon {
    font-size: 23px;
}
.bottom-nav {
    position: fixed;
    /* 固定位置 */
    bottom: 0;
    /* 距离底部0 */
    left: 0;
    /* 距离左边0 */
    width: 100%;
    /* 100%宽度 */
    background-color: #e3e3e3;
    /* 背景颜色 */
    color: rgb(17, 17, 17);
    /* 字体颜色 */
}

.bottom-nav ul {
    list-style: none;
    /* 去掉默认列表样式 */
    padding: 0;
    margin: 0;
    display: flex;
    /* 使用flexbox布局 */
    justify-content: space-around;
    /* 等间距分布 */
}

.bottom-nav a {
    color: rgb(68, 68, 68);
    /* 链接颜色 */
    text-decoration: none;
    /* 去掉下划线 */
    padding: 15px;
    /* 内边距 */
    display: block;
    /* 块级元素，使链接区域更大 */
    outline: none;
    /* 去掉点击时的轮廓 */
    -webkit-tap-highlight-color: transparent;
}

.bottom-nav a:active {
    color: inherit;
    /* 点击时保持颜色 */
    background-color: transparent;
    /* 点击时保持背景色 */
}

.bottom-nav a:focus {
    outline: none;
    /* 去掉聚焦状态的轮廓 */
}