
.button1{
background-color: #323232;
    /* 按钮背景色 */
    color: white;
    /* 字体颜色 */
    padding: 10px 10px;
    /* 内边距 */
    text-align: center;
    /* 文本居中 */
    text-decoration: none;
    /* 去除下划线 */
    display: inline-block;
    /* 使按钮大小自适应内容 */
    font-size: 12px;
    /* 字体大小 */
    margin: 0px 0px;
    /* 外边距 */
    cursor: pointer;
    /* 鼠标指针 */
    border: none;
    /* 去除边框 */
    border-radius: 12px;
    /* 圆角 */
    transition: background-color 0.3s, transform 0.3s;
    /* 过渡效果 */
}

.button1:hover {
    background-color: #373737;
    /* 悬停时背景色 */
    transform: scale(1.05);
    /* 悬停时稍微放大 */
}

.button1:active {
    transform: scale(0.95);
    /* 点击时稍微缩小 */
}

#but2{
    display: none;
}

.button2 {
    background: linear-gradient(90deg, #4CAF50, #45a049);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 阴影效果 */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button2:hover {
    background: linear-gradient(90deg, #45a049, #4CAF50);
    transform: translateY(-2px);
    /* 悬停时稍微抬起 */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* 悬停时加深阴影 */
}

.button2:active {
    transform: translateY(1px);
    /* 点击时稍微下沉 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* 点击时减小阴影 */
}

.i0{
    padding: 8px;
    /* 内边距 */
    font-size: 12px;
    /* 字体大小 */
    border: 1px solid #000000;
    /* 边框颜色 */
    border-radius: 8px;
    /* 圆角 */
    width: 10%;
    /* 宽度占满容器 */
    box-sizing: border-box;
    /* 使得padding和border包含在width中 */
    transition: border-color 0.3s;
    /* 边框颜色过渡效果 */
    background-color: #686868;
}

.i0:focus {
    border-color: #fdff71;
    /* 获得焦点时边框颜色 */
    outline: none;
    /* 去除默认的焦点轮廓 */
    background-color: #686868;
}

.i1{
    padding: 8px;
    /* 内边距 */
    font-size: 12px;
    /* 字体大小 */
    border: 1px solid #000000;
    /* 边框颜色 */
    border-radius: 8px;
    /* 圆角 */
    width: 18%;
    /* 宽度占满容器 */
    box-sizing: border-box;
    /* 使得padding和border包含在width中 */
    transition: border-color 0.3s;
    /* 边框颜色过渡效果 */
    background-color: #686868;
}
.i1:focus {
    border-color: #fdff71;
    /* 获得焦点时边框颜色 */
    outline: none;
    /* 去除默认的焦点轮廓 */
    background-color: #686868;
}