
.button1{
background-color: #323232;
    /* 按钮背景色 */
    color: white;
    /* 字体颜色 */
    padding: 10px 10px;
    /* 内边距 */
    text-align: center;
    /* 文本居中 */
    text-decoration: none;
    /* 去除下划线 */
    display: inline-block;
    /* 使按钮大小自适应内容 */
    font-size: 12px;
    /* 字体大小 */
    margin: 0px 0px;
    /* 外边距 */
    cursor: pointer;
    /* 鼠标指针 */
    border: none;
    /* 去除边框 */
    border-radius: 12px;
    /* 圆角 */
    transition: background-color 0.3s, transform 0.3s;
    /* 过渡效果 */
}

.button1:hover {
    background-color: #373737;
    /* 悬停时背景色 */
    transform: scale(1.05);
    /* 悬停时稍微放大 */
}

.button1:active {
    transform: scale(0.95);
    /* 点击时稍微缩小 */
}


